* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  background-attachment: fixed;
  background-image: url(https://i.imgur.com/TWaD4xO.png),
    linear-gradient(skyblue, green);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
  font-family: "Abel", sans-serif;
  font-size: 18px;
  height: 100%;
  width: 100%;
  min-width: 320px;
  padding: 0px 5px 5px 5px;
}

h1,
h2 {
  line-height: 100%;
  margin: 2px;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: clamp(20px, 25vw, 126px);
  text-align: center;
}

h2 {
  font-size: clamp(18px, 14vw, 52px);
}

h3 {
  padding-top: 5px;
  font-size: clamp(16px, 8vw, 26px);
}

h4 {
  font-size: clamp(12px, 3vw, 20px);
}

.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

a.button {
  padding-top: 7px;
}

a,
button,
.button {
  border-radius: 5px;
  border: 1px solid #999;
  background-color: white;
  border-bottom: 3px solid #333;
  font-size: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  margin: 0px 10px;
  min-width: 80px;
  height: 45px;
  text-align: center;
  padding: 0px 10px;
  font-family: "Abel", sans-serif;
}

a.primary,
button.primary {
  background-color: white;
  border: 1px solid olive;
  border-bottom: 3px solid darkolivegreen;
  color: black;
  min-width: 80px;
  height: 45px;
}

a:hover,
button:hover,
.button:hover {
  border-bottom-width: 1px;
  background-color: #333;
  color: white;
}

button.primary:hover {
  background-color: darkolivegreen;
}

.delete:hover {
  background-color: red;
}

.error {
  color: red;
  width: 100%;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  margin: 20px auto auto auto;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 500px;
}

form > h3 {
  padding-bottom: 10px;
  margin: 0px auto 10px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

form > div {
  display: flex;
}

form > div > input {
  flex-basis: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  font-size: 14px;
  padding-left: 5px;
}

input::placeholder {
  color: rgb(175, 175, 175);
  font-size: 14px;
}

.NotFoundPage {
  display: flex;
  color: red;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  margin: 20px auto auto auto;
  padding: 10px 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  margin: auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid green;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
